$sand-50: #fff9ed;
$sand-100: #fff1d5;
$sand-200: #ffe3b3;
$sand-300: #ffc872;
$sand-400: #fda53a;
$sand-500: #fc8913;
$sand-600: #ed6d09;
$sand-700: #c4520a;
$sand-800: #9c4010;
$sand-900: #7d3611;
$sand-950: #441a06;

$sand-000: $sand-200; // Usred in warning callout

$forest-50: #eefffb;
$forest-100: #c6fff3;
$forest-200: #8dffe8;
$forest-300: #4cfcdc;
$forest-400: #18e9ca;
$forest-500: #00cdb1;
$forest-600: #00a592;
$forest-700: #028174;
$forest-800: #07685f;
$forest-900: #0c554e;
$forest-950: #003432;

$meadow-50: #ebfef7;
$meadow-100: #d0fbe8;
$meadow-200: #a5f5d7;
$meadow-300: #6aebc2;
$meadow-400: #2fd8a8;
$meadow-500: #0ab68b;
$meadow-600: #009b78;
$meadow-700: #007c63;
$meadow-800: #03624f;
$meadow-900: #045042;
$meadow-950: #012d27;